/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
  display: block;
}
/* /RESET */

/* UTILTIY */
.cursor_pointer {
  cursor: pointer;
}

.offscreen {
  position: absolute !important;
  left: -9000px !important;
}
/* /UTILTIY */

/* VARIABLES */
:root {
  /* FONT*/
  --H1-SIZE: 1.5rem;
  --ROUTINE-FOOTER-FONT-SIZE: 0.66rem;

  /* COLOUR */
  --AUTH-LAYOUT-BG-COLOR: #fff;
  --AUTH-OPTIONS-BG-COLOR: #8BBEB2;
  --FORM-INPUT-COLOR: #2E2836;
  --FORM-INPUT-ACTIVE-COLOR: #1A936F;
  --FORM-INPUT-INCORRECT-COLOR: red;
  --LOGIN-BUTTON-COLOR: #1a936f;
  --LOGIN-BUTTON-HOVER-COLOR: rgba(26, 147, 111, 85%);
  --ROUTINE-TITLE-BG-COLOR: #2E2836;
  --ROUTINE-UNDERLINE-COLOR: #2E2836;
  --BG-COLOR: #efefef;
  --ROUTINE-BG-COLOR: #ffffff;
  --SESSION-BG-COLOR: #ffffff;
  --EXERCISE-BG-COLOR: #ffffff;
  --SET-BG-COLOR: #efefef;
  --ROUTINES-BORDER-COLOR: #384E77;
  --ROUTINE-INFO-TITLE-BG-COLOR: #8BBEB2;
  --INFO-TITLE-BG-COLOR: #8BBEB2;
  --ROUTINE-INFO-DESC-BG-COLOR: #efefef;
  --SESSION-INFO-DESC-BG-COLOR: #efefef;
  --READMORE-BORD-COLOR: #BE8A60;
  --EDIT-BUTTON-COLOR: #1a936f;
  --SESSION-TITLE-FONT-COLOR: #FFF;
  --SESSION-TITLE-BG-COLOR: #6A2E35;
  --EXERCISE-TITLE-BG-COLOR: #BE8A60;
  --EXERCISE-UNDERLINE-COLOR: #BE8A60;
  --SET-COLOR: #E1AA7D;
  --SET-UNDERLINE-COLOR: #BE8A60;
  --SET-VAL-BG-COLOR: #BE8A60;
  --SET-DIVIDE-COLOR: #6A2E35;
  --EDIT-ENABLE-COLOR: #ffffff;
  --CANCEL-BUTTON-COLOR: #BE8A60;
  --DELETE-ICON-COLOR: #ff0000b0;
  --ADD-BUTTON-COLOR: #1a936f;
  --MODAL-CONTAINER-COLOR: #ffffff;
  --MODAL-BG-COLOR: rgba(239, 239, 239, 0.25);
  --MODAL-SHADOW-COLOR: gray;

  /* OPACITY */
  --ROUTINE-FOOTER-FONT-OPA: 0.5;

  /* MARGIN */
  --AUTH-MARGIN-TB: 1rem;
  --ROUTINES-MARGIN: 0.5rem;
  --SESSIONS-MARGIN: 0.5rem;

  /* PADDING */
  --AUTH-SECT-PADDING: 1rem 2rem;
  --INFO-PADDING: 0.25rem 0.5rem;
  --ROUTINES-SEC-TB-PADDING: 1rem 0rem;
  --SESSIONS-SEC-TB-PADDING: 1rem 0rem;
  --EXERCISES-SEC-TB-PADDING: 1rem 0rem;
  --ROUTINE-INFO-DIV-PADDING: 0.5rem 1rem;
  --ROUTINE-INFO-PADDING: 0.25rem 0.5rem;
  --READMORE-PADDING: 0.125rem 0.25rem;
  --EDIT-BTN-PADDING: 0.125rem 0.25rem;
  --SESSIONS-INFO-PADDING: 0.25rem 0.5rem;
  --SESSION-INFO-DIV-PADDING: 0.5rem 1rem;
  --SESSION-INFO-PADDING: 0.25rem 0.5rem;
  --EXERCISES-INFO-PADDING: 0.25rem 0.5rem;
  --EXERCISE-INFO-DIV-PADDING: 0.5rem 1rem;
  --SET-DIV-PADDING: 0.25rem;
  --ADD-BTN-PADDING: 0.125rem 0.25rem;
  --ADD-FORM-MODAL-PADDING: 1rem 1rem;
  --LOGIN-REG-FORM-FORM-PADDING: 1rem 1rem;
  --LOGIN-REG-INPUT-PADDING: 0rem 1rem;

  /* GAP */
  --ROUTINES-SEC-GAP: 1rem;
  --SESSIONS-SEC-GAP: 1rem;
  --EXERCISES-SEC-GAP: 1rem;
  --ROUTINE-DIV-GAP: 0.5rem;
  --SESSION-DIV-GAP: 0.5rem;
  --EXERCISE-DIV-GAP: 0.5rem;
  --SET-INFO-GAP: 0.25rem;
  --ADD-FORM-GAP: 0.5rem;
  --FORM-INPUT-GAP: 1rem;

  /* BORDER RADIUS */
  --AUTH-BORDER-RAD: 2rem;
  --FORM-INPUT-RAD: 0.5rem;
  --AUTH-BUTTON-RAD: 0.5rem;
  --ROUTINE-SEC-BORDER-RAD: 1rem;
  --ROUTINE-DIV-BORDER-RAD: 0.25rem;
  --INFO-DIV-BORDER-RAD: 0.25rem;
  --SESSION-SEC-BORDER-RAD: 1rem;
  --SESSION-DIV-BORDER-RAD: 0.25rem;
  --EXERCISE-SEC-BORDER-RAD: 0.5rem;
  --EXERCISE-DIV-BORDER-RAD: 0.25rem;
  --ADD-SET-FORM-BORDER-RAD: 0.5rem;
  --EDIT-BTN-BORDER-RAD: 0.25rem;
  --ADD-BTN-BORDER-RAD: 0.25rem;

  /* BORDER */
  --ROUTINE-SEC-BORDER: 2px solid var(--ROUTINE-TITLE-BG-COLOR);
  --READMORE-BORDER: 2px solid var(--READMORE-BORD-COLOR);

  /* BOX SHADOW */
  --ROUTINE-SEC-SHADOW: 0px 5px 5px 0px var(--ROUTINE-TITLE-BG-COLOR);
  --SESSION-SEC-SHADOW: 0px 5px 5px 0px var(--SESSION-TITLE-BG-COLOR);
  --MODAL-SHADOW: 0px 0px 5px 0px var(--MODAL-SHADOW-COLOR);

  /* LETTERS */
  --LETTER-SPACING: 0.1rem;
}
/* /VARIABLES */

/* GENERAL */
html {
  font-size: 1rem;
  font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  letter-spacing: var(--LETTER-SPACING);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--BG-COLOR);
  display: flex;
}

#root {
  flex-grow: 1;
  min-height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.info_label {
  font-weight: bold;
  background-color: var(--INFO-TITLE-BG-COLOR);
  border-radius: var(--INFO-DIV-BORDER-RAD);
  margin-right: 0.25rem;
}

.info_value {
  font-size: 1rem;
  word-break: break-word;
}

.info_text_padding {
  padding: var(--INFO-PADDING);
}

.info__div {
  line-height: 1.5rem;
}

.desc_footer__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.readMore {
  border: var(--READMORE-BORDER);
  border-radius: var(--ROUTINE-DIV-BORDER-RAD) var(--ROUTINE-DIV-BORDER-RAD);
  padding: var(--READMORE-PADDING);
}

.routine_edit__button,
.routine_save__button,
.session_edit__button,
.session_save__button,
.exercise_edit__button,
.exercise_save__button,
.set_edit__button,
.set_save__button
{
  border-radius: var(--EDIT-BTN-BORDER-RAD);
  padding: var(--EDIT-BTN-PADDING);
  background-color: var(--EDIT-BUTTON-COLOR);
  color:var(--BG-COLOR);
}

.routine_cancel__button,
.session_cancel__button,
.set_cancel__button,
.exercise_cancel__button {
  border-radius: var(--EDIT-BTN-BORDER-RAD);
  padding: var(--EDIT-BTN-PADDING);
  background-color: var(--CANCEL-BUTTON-COLOR);
  color:var(--BG-COLOR);
}

.routine_delete__button,
.session_delete__button,
.exercise_delete__button,
.set_delete__button {
  border-radius: var(--EDIT-BTN-BORDER-RAD);
  padding: var(--EDIT-BTN-PADDING);
  background-color: var(--BG-COLOR);
  color:var(--DELETE-ICON-COLOR);
}

.center_text_vert {
  height: 100%;
  display: flex;
  align-items: center;
}

.disabled {
  opacity: 0.5;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: absolute;
  top: 60px;
  z-index: 9002;
}

.show-password__button {
  border: none;
  background-color: var(--BG-COLOR);
  padding: 0.25rem 0.5rem;
  z-index: 10000;
}
/* /GENERAL */

/* FORM GENERAL */
.form-input_outer__div {
  width: 100%;
  height: 80px;
  padding: var(--LOGIN-REG-INPUT-PADDING);
  background-color: var(--BG-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--FORM-INPUT-COLOR);
}

.form-input_inner__div {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
}

.form-input_input__div {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  left: 0;
  bottom: 0;
  border: none;
  background-color: var(--BG-COLOR);
  display: flex;
  gap: 0.1rem;
}

.form-input__input {
  font-size: 20px;
  width: 100%;
  height: 100%;
  /* line-height: 40px; */
  /* left: 0;
  bottom: 0; */
  border: none;
  background-color: var(--BG-COLOR);
  padding: 0rem 0.25rem;
}

.form__label {
  position: absolute;
  width: 100%;
  font-size: 1.25rem;
  left: 0;
  z-index: 9001;
  color: var(--FORM-INPUT-COLOR);

  /* animation-direction: alternate; */
  transition-property: transform,color,font-size;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-duration: 200ms;
  transition-delay: 0ms;
  -webkit-transform: translateY(-0px);
  -moz-transform: translateY(-0px);
  -ms-transform: translateY(-0px);
  transform: translateY(-0px);
}

.form-input__focus {
  /* animation: form_label_animation 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 normal forwards; */
  
  font-size: 14px;
  /* transition-property: transform,color,font-size;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-duration: 200ms;
  transition-delay: 0ms;
  -webkit-transform: translateY(-0px);
  -moz-transform: translateY(-0px);
  -ms-transform: translateY(-0px); */
  transform: translateY(-20px);
}

.form-input__focus-color {
  color: var(--FORM-INPUT-ACTIVE-COLOR);
}

.form-outer-div__focus {
  border-color: var(--FORM-INPUT-ACTIVE-COLOR);
}

.form-input-incorrect-color {
  color: var(--FORM-INPUT-INCORRECT-COLOR);
}

.form-outer-div-incorrect-color {
  border-color: var(--FORM-INPUT-INCORRECT-COLOR);
}
/* /FORM GENERAL */

/* ANIMATIONS */
/* The animation code */
@keyframes form_label_animation {
  from {
  }
  to {
    font-size: 1rem;
    top: 0;
  }
}
/* /ANIMATIONS */

/* HOME */
.Home__section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* /HOME */

/* MODAL */
.modal_bg__div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--MODAL-BG-COLOR);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_form_modal__section {
  background-color: var(--MODAL-CONTAINER-COLOR);
  border-radius: var(--ADD-SET-FORM-BORDER-RAD);
  padding: var(--ADD-FORM-MODAL-PADDING);
  box-shadow: var(--MODAL-SHADOW);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--ADD-FORM-GAP);
  width: 80vw;
}

.add_form_modal_x__div {
  display: flex;
  justify-content: flex-end;
}

.add_form_assoc__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.add_form_modal_x__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--MODAL-BG-COLOR);
  border-radius: 50%;
  border: 1px solid var(--BG-COLOR);
  padding: 0.5rem;
}
/* /MODAL */

/* AUTHLAYOUT */
.auth-layout__section {
  width: 100%;
  max-width: 600px;
  /* min-width:fit-content; */
  /* height: min-content; */
  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--AUTH-LAYOUT-BG-COLOR);
  padding: var(--AUTH-SECT-PADDING);
  border-radius: var(--AUTH-BORDER-RAD);
  gap: var(--FORM-INPUT-GAP);
}

.auth-options__container {
  width: 80%;
  min-height: 40px;
  border: 1px solid var(--AUTH-OPTIONS-BG-COLOR);
  border-radius: var(--AUTH-BUTTON-RAD);
  overflow: hidden;
  position: relative;
}

.auth-options__ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
}

.auth-options__li {
  flex: 1 1 0px;
}

.auth__navlink {
  color:#000;
  list-style-type: none;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
}

.slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: green;
}
/* /AUTHLAYOUT */

/* LOGIN */
.login__section {
  width: 100%;
  display: flex;
  justify-content: center;
  
  background-color: #fff;
}

.login__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  gap: var(--FORM-INPUT-GAP);
}

.login__form__div {
  width: 100%;
  /* max-width: 456px; */
}

.login-button__div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.login__button {
  background-color: var(--LOGIN-BUTTON-COLOR);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--AUTH-BUTTON-RAD);
}

.login__button:hover {
  background-color: var(--LOGIN-BUTTON-HOVER-COLOR);
}
/* /LOGIN */

/* REGISTER */
.register__section {
  width: 100%;
  display: flex;
  justify-content: center;
  
  background-color: #fff;
}

.register__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  gap: var(--FORM-INPUT-GAP);
}

.register__form__div {
  width: 100%;
}

.register-button__div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.register__button {
  background-color: var(--LOGIN-BUTTON-COLOR);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--AUTH-BUTTON-RAD);
}

.register__button:hover {
  background-color: var(--LOGIN-BUTTON-HOVER-COLOR);
}
/* /REGISTER */

/* ROUTINES */
.routines__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: var(--ROUTINES-SEC-GAP);
  padding: var(--ROUTINES-SEC-TB-PADDING);
}

.routines_title__div {
  width: min-content;
  height: 100%;
}

.routines__h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  width: 100%;
  display: flex;
  justify-content: center;
}

.routines_title_underline {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--ROUTINE-TITLE-BG-COLOR);
}

.routines-loading__h2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routines-error__h2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.routines__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--ROUTINES-SEC-GAP);
}

.routines__div.disabled {
  opacity: 0.5;
}

.routines_add__button {
  background-color: var(--ADD-BUTTON-COLOR);
  padding: var(--ADD-BTN-PADDING);
  color:var(--BG-COLOR);
  border-radius: var(--ADD-BTN-BORDER-RAD);
}
/* /ROUTINES */

/* ROUTINE ADD FORM */
.add_routine__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: var(--ADD-SET-MODAL-PADDING);
  gap: var(--ADD-FORM-GAP)
}

.add_routine__h1 {
  font-size: 1.5rem;
}

.info_label_routine {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--ROUTINE-TITLE-BG-COLOR);
  border-radius: var(--INFO-DIV-BORDER-RAD);
  margin-right: 0.25rem;
}

.add_routine_input__div {
  display: flex;
  flex-flow: column nowrap;
  width: 456px;
  height: 100%;
  gap: var(--ADD-FORM-GAP);
  font-weight: bold;
}

.add_routine__label {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--ROUTINE-UNDERLINE-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.add_routine_desc__ta {
  min-width: 100%;
  max-width: 100%;
}

.add_routine_order__input,
.add_routine_name__input {
  width: 100%;
  text-align: center;
}
/* /ROUTINE ADD FORM */

/* ROUTINE */
.routine__section {
  width: 100%;
  height: 100%;
  border-radius: var(--ROUTINE-SEC-BORDER-RAD);
  background-color: var(--ROUTINE-BG-COLOR);
  box-shadow: var(--ROUTINE-SEC-SHADOW);  
}

.routine_name__div {
  border-radius: var(--ROUTINE-SEC-BORDER-RAD) var(--ROUTINE-SEC-BORDER-RAD) 0 0;
  background-color: var(--ROUTINE-TITLE-BG-COLOR);
  padding: var(--ROUTINE-INFO-DIV-PADDING);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--ADD-FORM-GAP)
}

.routine_name_input__div {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.routine_name__input {
  width: 100%;
  color: #ffffff;
  font-size: var(--H1-SIZE);
  background-color: var(--ROUTINE-TITLE-BG-COLOR);
}

.routine_name__h1 {
  width: 100%;
  font-size: 1.5rem;
  word-break: break-word;
}

.routine__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  /* gap: var(--ROUTINE-DIV-GAP); */
}

.routine_info__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--ROUTINE-DIV-GAP);
  padding: var(--ROUTINE-INFO-DIV-PADDING);
}

.routine__div_info {
  display: flex;
  line-height: 1.5rem;
}

.routine_info_title__span {
  font-weight: bold;
  background-color: var(--ROUTINE-INFO-TITLE-BG-COLOR);
  border-radius: var(--ROUTINE-DIV-BORDER-RAD);
  margin-right: 0.25rem;
}

.routine_info_desc__div {
  background-color: var(--ROUTINE-INFO-DESC-BG-COLOR);
  border-radius: var(--ROUTINE-DIV-BORDER-RAD);
  word-break: break-word;
}

.routine_info {
  padding: var(--ROUTINE-INFO-PADDING);
}

.routine__div_footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.routine_footer__timestamps {
  display: flex;
  flex-flow: column nowrap;
}

.routine_footer__span {
  font-size: var(--ROUTINE-FOOTER-FONT-SIZE);
  opacity: var(--ROUTINE-FOOTER-FONT-OPA);
}

.info_label_routine {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--ROUTINE-TITLE-BG-COLOR);
  border-radius: var(--INFO-DIV-BORDER-RAD);
  margin-right: 0.25rem;
}

.routine__h1 {
  color: #fff;
  font-size: 1.5rem;
  flex: 1 1 auto;
  word-break: break-word;
}

.routine_name__ta {
  width: 100%;
  resize: vertical;
  font-size: 1rem;
  padding: var(--ROUTINE-INFO-PADDING);
}

.routine_name__input {
  flex: 1 1 auto;
  background-color: #fff;
  color: black;
  padding: var(--ROUTINE-INFO-PADDING);
}

.routine_order__input {
  color: black;
  flex: 1 1 auto;
  padding: var(--ROUTINE-INFO-PADDING);
}

.door_open_svg__div {
  align-self: stretch;
  color: #fff;
  display: flex;
  align-items: center;
}

.routine_desc__div {
  color: black;
  display: flex;
  flex-flow: column nowrap;
}

.routine_desc__ta {
  color: black;
  width: 100%;
  resize: vertical;
  padding: var(--ROUTINE-INFO-PADDING);
}

.routine_desc__label {
  width: min-content;
}

.routine_name__input:disabled,
.routine_order__input:disabled {
  background-color: transparent;
  border: none;
}
/* /ROUTINE */

/* SESSIONS */
.sessions__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--SESSIONS-SEC-GAP);
  padding: var(--SESSIONS-SEC-TB-PADDING);
}

.info_label_session {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--SESSION-TITLE-BG-COLOR);
  border-radius: var(--INFO-DIV-BORDER-RAD);
  margin-right: 0.25rem;
}

.sessions_routine_title__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: var(--SESSIONS-INFO-PADDING);
}

.sessions_routine_name__h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: var(--ROUTINE-TITLE-BG-COLOR);
  border-radius: var(--ROUTINE-DIV-BORDER-RAD);
  padding: var(--SESSIONS-INFO-PADDING);
}

.sessions_title__div {
  width: min-content;
  height: 100%;
}

.sessions_title__h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.sessions_title_underline {
  height: 2px;
  border-radius: 2px;
  background-color: var(--SESSION-TITLE-BG-COLOR);
}

.sessions__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--SESSIONS-SEC-GAP);
}

.sessions_add__button {
  background-color: var(--ADD-BUTTON-COLOR);
  padding: var(--ADD-BTN-PADDING);
  color:var(--BG-COLOR);
  border-radius: var(--ADD-BTN-BORDER-RAD);
}
/* /SESSIONS */

/* SESSION ADD FORM */
.add_session__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: var(--ADD-SET-MODAL-PADDING);
  gap: var(--ADD-FORM-GAP)
}

.add_session__h1 {
  font-size: 1.5rem;
}

.add_session_input__div {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  gap: var(--ADD-FORM-GAP);
  font-weight: bold;
}

.add_session__label {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--ROUTINE-UNDERLINE-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.add_session_desc__ta {
  min-width: 100%;
  max-width: 100%;
}

.add_session_order__input,
.add_session_name__input {
  width: 100%;
  text-align: center;
}
/* /SESSION ADD FORM */

/* SESSION */
.session__section {
  width: 100%;
  height: 100%;
  border-radius: var(--SESSION-SEC-BORDER-RAD);
  background-color: var(--SESSION-BG-COLOR);
  box-shadow: var(--SESSION-SEC-SHADOW);
}

.session__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

/* .session_name__h1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: var(--SESSION-TITLE-FONT-COLOR);
  font-size: var(--H1-SIZE);
  background-color: var(--SESSION-TITLE-BG-COLOR);
  padding: var(--SESSION-INFO-DIV-PADDING);
  border-radius: var(--SESSION-SEC-BORDER-RAD) var(--SESSION-SEC-BORDER-RAD) 0 0;
} */

.session_info__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--SESSION-DIV-GAP);
  padding: var(--SESSION-INFO-DIV-PADDING);
}

.session_name__div {
  border-radius: var(--SESSION-SEC-BORDER-RAD) var(--SESSION-SEC-BORDER-RAD) 0 0;
  background-color: var(--SESSION-TITLE-BG-COLOR);
  padding: var(--SESSION-INFO-DIV-PADDING);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: var(--ADD-FORM-GAP)
}

.session__h1 {
  color: #fff;
  font-size: 1.5rem;
  flex: 1 1 auto;
  word-break: break-word;
}

.session_name__ta {
  width: 100%;
  resize: vertical;
  font-size: 1rem;
  padding: var(--SESSION-INFO-PADDING);
}

.session_name__input,
.session_order__input {
  flex: 1 1 auto;
  background-color: #fff;
  color: black;
  padding: var(--SESSION-INFO-PADDING);
}

.session__div_info {
  display: flex;
  line-height: 1.5rem;
}

.session_order__input:disabled {
  background-color: transparent;
  border: none;
}

.session_desc__div {
  color: black;
  display: flex;
  flex-flow: column nowrap;
}

.session_desc__label {
  width: min-content;
}

.session_desc__ta {
  color: black;
  width: 100%;
  resize: vertical;
  padding: var(--SESSION-INFO-PADDING);
}

.session_info_desc__div {
  background-color: var(--SESSION-INFO-DESC-BG-COLOR);
  border-radius: var(--SESSION-DIV-BORDER-RAD);
  word-break: break-word;
}
/* /SESSION */

/* EXERCISES */
.info_label_exercise {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--EXERCISE-TITLE-BG-COLOR);
  border-radius: var(--INFO-DIV-BORDER-RAD);
  margin-right: 0.25rem;
}

.exercises__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--EXERCISES-SEC-GAP);
  padding: var(--EXERCISES-SEC-TB-PADDING);
  background-color: var(--BG-COLOR);
  border-radius: 0 0 var(--SESSION-SEC-BORDER-RAD) var(--SESSION-SEC-BORDER-RAD);
}

.exercises_title__div {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.exercises_title__h1 {
  font-size: 1.5rem;
}

.exercises_title_underline {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--EXERCISE-TITLE-BG-COLOR);
}

.exercises_add__section {
  display: flex;
  justify-content: center;
}

.exercises_add__button {
  background-color: var(--ADD-BUTTON-COLOR);
  padding: var(--ADD-BTN-PADDING);
  color:var(--BG-COLOR);
  border-radius: var(--ADD-BTN-BORDER-RAD);
}
/* /EXERCISES */

/* EXERCISE */
.exercise__section {
  width: 100%;
  height: 100%;
  background-color: var(--EXERCISE-BG-COLOR);
  /* border-radius: var(--EXERCISE-SEC-BORDER-RAD); */
}

.exercise_title__h1,
.exercise_name__h1 {
  width: 100%;
  font-size: 1.5rem;
  word-break: break-word;
}
/* --EXERCISE-TITLE-BG-COLOR */
.exercise_info__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--EXERCISE-DIV-GAP);
  padding: var(--EXERCISE-INFO-DIV-PADDING);
}

.exercise_info__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--EXERCISE-DIV-GAP);
}

.exercise_name__ta,
.exercise_desc__ta {
  width: 100%;
  resize: vertical;
  font-size: 1rem;
  padding: var(--ROUTINE-INFO-PADDING);
}

.exercise_desc__div {
  width: 100%;
  word-break: break-word;
}


.ex_form_info__div {
  display: flex;
  flex-flow: row wrap;
  line-height: 1.5rem;
}

.ex_form_desc_info__div {
  display: flex;
  flex-flow: column wrap;
  line-height: 1.5rem;
}

.exercise_form__inputs {
  flex: 1 1 min-content;
  color: black;
  font-size: 1rem;
  padding: 0 0.25rem;
}

.exercise_form__inputs:disabled {
  border: none;
}

/* /EXERCISE */

/* EXERCISE ADD FORM */
.add_exercise__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: var(--ADD-SET-MODAL-PADDING);
  gap: var(--ADD-FORM-GAP)
}

.add_exercise__h1 {
  font-size: 1.5rem;
}

.add_exercise_input__div {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  gap: var(--ADD-FORM-GAP);
  font-weight: bold;
}

.add_exercise__label {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--EXERCISE-UNDERLINE-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.add_exercise_desc__input {
  min-width: 100%;
  max-width: 100%;
}

.add_exercise_order__input,
.add_exercise_name__input,
.add_exercise_muscleType__input {
  width: 100%;
  text-align: center;
}
/* /EXERCISE ADD FORM */

/* SETS */
.sets__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.set_items__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  border-radius: var(--INFO-DIV-BORDER-RAD);
  /* gap: var(--SET-INFO-GAP); */
}

.sets_add__section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--SET-DIV-PADDING);
  background-color: var(--SET-BG-COLOR);
}

.sets_add__button {
  padding: var(--ADD-BTN-PADDING);
  background-color: var(--ADD-BUTTON-COLOR);
  color:var(--BG-COLOR);
  border-radius: var(--ADD-BTN-BORDER-RAD);
}
/* /SETS */

/* SET */
.set__form {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--SET-BG-COLOR);
  border-bottom: 2px solid var(--SET-DIVIDE-COLOR);
  padding: var(--SET-DIV-PADDING);
  gap: 1rem;
}

.set_header__div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.order_info {
  display: flex;
  justify-content: flex-start;
}

.set_complete__div {
  display: flex;
  justify-content: flex-end;
}

.set_info__div {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--SET-INFO-GAP);
}

.set_desc__div {
  display: flex;
  flex-flow: row wrap;
  gap: var(--SET-INFO-GAP);
  width: 100%;
}

.set_desc_itm__div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--SET-INFO-GAP);
  flex: 1 1 min-content;
}

.set_desc_order__label {
  border-bottom: 1px solid var(--SET-UNDERLINE-COLOR);
}

.set_desc_title__label {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  border-bottom: 1px solid var(--SET-UNDERLINE-COLOR);
}

.set_desc_value__span {
  width: 100%;
  background-color: var(--SET-VAL-BG-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.set_order_value__input {
  width: 50px;
  background-color: var(--EDIT-ENABLE-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: none;
  text-align: center;
  flex: 0 0 auto;
}

.set_desc_value__input {
  width: 100%;
  background-color: var(--EDIT-ENABLE-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: none;
  text-align: center;
}

.set_order_value__input:disabled,
.set_desc_value__input:disabled {
  background-color: var(--SET-VAL-BG-COLOR);
  border: none;
  color: black;
}

.edit__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: var(--SET-INFO-GAP);
}

.editing__div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.modifyOpts__div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: var(--SET-INFO-GAP);
}
/* /SET */

/* SET ADD FORM */
.add_set__form {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--ADD-FORM-GAP);
}

.add_set_ex__div > h1,
.add_set__h1 {
  font-size: 1.5rem;
}

.add_set_input__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--SET-INFO-GAP);
  font-size: 1rem;
  font-weight: bold;
}

.add_set__h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add_set_order__label,
.add_set_weight__label,
.add_set_reps__label,
.add_set_rest__label {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--SET-UNDERLINE-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.add_set_order__input,
.add_set_weight__input,
.add_set_reps__input,
.add_set_rest__input {
  width: 100%;
  height: 100%;
  text-align: center;
}

.add_set__button {
  padding: var(--ADD-BTN-PADDING);
  background-color: var(--ADD-BUTTON-COLOR);
  color:var(--BG-COLOR);
  border-radius: var(--ADD-BTN-BORDER-RAD);
}
/* /SET ADD FORM */