/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
  display: block;
}
/* /RESET */

/* UTILTIY */
.cursor_pointer {
  cursor: pointer;
}

.offscreen {
  position: absolute !important;
  left: -9000px !important;
}
/* /UTILTIY */

/* VARIABLES */
:root {
  /* FONT*/
  --H1-SIZE: 1.5rem;
  --ROUTINE-FOOTER-FONT-SIZE: 0.66rem;

  /* COLOUR */
  --ROUTINE-TITLE-BG-COLOR: #E1AA7D;
  --BG-COLOR: #efefef;
  --ROUTINE-BG-COLOR: #ffffff;
  --SESSION-BG-COLOR: #ffffff;
  --EXERCISE-BG-COLOR: #ffffff;
  --SET-BG-COLOR: #efefef;
  --ROUTINES-BORDER-COLOR: #384E77;
  --ROUTINE-INFO-TITLE-BG-COLOR: #8BBEB2;
  --INFO-TITLE-BG-COLOR: #8BBEB2;
  --ROUTINE-INFO-DESC-BG-COLOR: #efefef;
  --READMORE-BORD-COLOR: #BE8A60;
  --EDIT-BUTTON-COLOR: #1a936f;
  --SESSION-TITLE-FONT-COLOR: #FFF;
  --SESSION-TITLE-BG-COLOR: #6A2E35;
  --EXERCISE-TITLE-BG-COLOR: #BE8A60;
  --SET-COLOR: #E1AA7D;
  --SET-UNDERLINE-COLOR: #BE8A60;
  --SET-VAL-BG-COLOR: #BE8A60;
  --SET-DIVIDE-COLOR: #6A2E35;
  --EDIT-ENABLE-COLOR: #ffffff;
  --CANCEL-BUTTON-COLOR: #BE8A60;
  --DELETE-ICON-COLOR: #ff0000b0;
  --ADD-BUTTON-COLOR: #1a936f;
  --MODAL-CONTAINER-COLOR: #ffffff;
  --MODAL-BG-COLOR: rgba(239, 239, 239, 0.25);
  --MODAL-SHADOW-COLOR: gray;

  /* OPACITY */
  --ROUTINE-FOOTER-FONT-OPA: 0.5;

  /* MARGIN */
  --ROUTINES-MARGIN: 0.5rem;
  --SESSIONS-MARGIN: 0.5rem;

  /* PADDING */
  --INFO-PADDING: 0.25rem 0.5rem;
  --ROUTINES-SEC-TB-PADDING: 1rem 0rem;
  --SESSIONS-SEC-TB-PADDING: 1rem 0rem;
  --EXERCISES-SEC-TB-PADDING: 1rem 0rem;
  --ROUTINE-INFO-DIV-PADDING: 0.5rem 1rem;
  --ROUTINE-INFO-PADDING: 0.25rem 0.5rem;
  --READMORE-PADDING: 0.125rem 0.25rem;
  --EDIT-BTN-PADDING: 0.125rem 0.25rem;
  --SESSIONS-INFO-PADDING: 0.25rem 0.5rem;
  --SESSION-INFO-DIV-PADDING: 0.5rem 1rem;
  --EXERCISES-INFO-PADDING: 0.25rem 0.5rem;
  --EXERCISE-INFO-DIV-PADDING: 0.5rem 1rem;
  --SET-DIV-PADDING: 0.25rem;
  --ADD-BTN-PADDING: 0.125rem 0.25rem;
  --ADD-SET-MODAL-PADDING: 1rem 1rem;

  /* GAP */
  --ROUTINES-SEC-GAP: 1rem;
  --SESSIONS-SEC-GAP: 1rem;
  --EXERCISES-SEC-GAP: 1rem;
  --ROUTINE-DIV-GAP: 0.5rem;
  --SESSION-DIV-GAP: 0.5rem;
  --EXERCISE-DIV-GAP: 0.5rem;
  --SET-INFO-GAP: 0.25rem;
  --ADD-SET-GAP: 0.5rem;

  /* BORDER RADIUS */
  --ROUTINE-SEC-BORDER-RAD: 1rem;
  --ROUTINE-DIV-BORDER-RAD: 0.25rem;
  --INFO-DIV-BORDER-RAD: 0.25rem;
  --SESSION-SEC-BORDER-RAD: 1rem;
  --SESSION-DIV-BORDER-RAD: 0.25rem;
  --EXERCISE-SEC-BORDER-RAD: 0.5rem;
  --EXERCISE-DIV-BORDER-RAD: 0.25rem;
  --ADD-SET-FORM-BORDER-RAD: 0.5rem;
  --EDIT-BTN-BORDER-RAD: 0.25rem;
  --ADD-BTN-BORDER-RAD: 0.25rem;

  /* BORDER */
  --ROUTINE-SEC-BORDER: 2px solid var(--ROUTINE-TITLE-BG-COLOR);
  --READMORE-BORDER: 2px solid var(--READMORE-BORD-COLOR);

  /* BOX SHADOW */
  --ROUTINE-SEC-SHADOW: 0px 5px 5px 0px var(--ROUTINE-TITLE-BG-COLOR);
  --SESSION-SEC-SHADOW: 0px 5px 5px 0px var(--SESSION-TITLE-BG-COLOR);
  --MODAL-SHADOW: 0px 0px 5px 0px var(--MODAL-SHADOW-COLOR);

  /* LETTERS */
  --LETTER-SPACING: 0.1rem;
}
/* /VARIABLES */

/* GENERAL */
html {
  font-size: 1rem;
  font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  letter-spacing: var(--LETTER-SPACING);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--BG-COLOR);
  display: flex;
}

#root {
  flex-grow: 1;
  min-height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.info_label {
  font-weight: bold;
  background-color: var(--INFO-TITLE-BG-COLOR);
  border-radius: var(--INFO-DIV-BORDER-RAD);
  margin-right: 0.25rem;
}

.info_value {
  font-size: 1rem;
}

.info_text_padding {
  padding: var(--INFO-PADDING);
}

.info__div {
  line-height: 1.5rem;
}

.desc_footer__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.readMore {
  border: var(--READMORE-BORDER);
  border-radius: var(--ROUTINE-DIV-BORDER-RAD) var(--ROUTINE-DIV-BORDER-RAD);
  padding: var(--READMORE-PADDING);
}

.routine_edit__button,
.set_edit__button,
.set_save__button
{
  border-radius: var(--EDIT-BTN-BORDER-RAD);
  padding: var(--EDIT-BTN-PADDING);
  background-color: var(--EDIT-BUTTON-COLOR);
  color:var(--BG-COLOR);
}

.set_cancel__button {
  border-radius: var(--EDIT-BTN-BORDER-RAD);
  padding: var(--EDIT-BTN-PADDING);
  background-color: var(--CANCEL-BUTTON-COLOR);
  color:var(--BG-COLOR);
}

.set_delete__button {
  border-radius: var(--EDIT-BTN-BORDER-RAD);
  padding: var(--EDIT-BTN-PADDING);
  background-color: var(--BG-COLOR);
  color:var(--DELETE-ICON-COLOR);
}

.center_text_vert {
  height: 100%;
  display: flex;
  align-items: center;
}

.disabled {
  opacity: 0.5;
}
/* /GENERAL */

/* ROUTINES */
.routines__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: var(--ROUTINES-SEC-GAP);
  padding: var(--ROUTINES-SEC-TB-PADDING);
}

.routines_title__div {
  width: min-content;
  height: 100%;
}

.routines__h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  width: 100%;
  display: flex;
  justify-content: center;
}

.routines_title_underline {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--ROUTINE-TITLE-BG-COLOR);
}

.routines-loading__h2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routines-error__h2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.routines__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--ROUTINES-SEC-GAP);
}

.routines__div.disabled {
  opacity: 0.5;
}
/* /ROUTINES */

/* ROUTINE */
.routine__section {
  width: 100%;
  height: 100%;
  border-radius: var(--ROUTINE-SEC-BORDER-RAD);
  background-color: var(--ROUTINE-BG-COLOR);
  box-shadow: var(--ROUTINE-SEC-SHADOW);
}

.routine__h1 {
  font-size: var(--H1-SIZE);
  border-radius: var(--ROUTINE-SEC-BORDER-RAD) var(--ROUTINE-SEC-BORDER-RAD) 0 0;
  background-color: var(--ROUTINE-TITLE-BG-COLOR);
  padding: var(--ROUTINE-INFO-DIV-PADDING);
  display: flex;
  align-items: center;
  justify-content: center;
}

.routine__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  /* gap: var(--ROUTINE-DIV-GAP); */
}

.routine_info__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--ROUTINE-DIV-GAP);
  padding: var(--ROUTINE-INFO-DIV-PADDING);
}

.routine__div_info {
  line-height: 1.5rem;
}

.routine_info_title__span {
  font-weight: bold;
  background-color: var(--ROUTINE-INFO-TITLE-BG-COLOR);
  border-radius: var(--ROUTINE-DIV-BORDER-RAD);
  margin-right: 0.25rem;
}

.routine_info_desc__div {
  background-color: var(--ROUTINE-INFO-DESC-BG-COLOR);
  border-radius: var(--ROUTINE-DIV-BORDER-RAD);
}

.routine_info {
  padding: var(--ROUTINE-INFO-PADDING);
}

.routine__div_footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.routine_footer__timestamps {
  display: flex;
  flex-flow: column nowrap;
}

.routine_footer__span {
  font-size: var(--ROUTINE-FOOTER-FONT-SIZE);
  opacity: var(--ROUTINE-FOOTER-FONT-OPA);
}
/* /ROUTINE */

/* SESSIONS */
.sessions__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--SESSIONS-SEC-GAP);
  padding: var(--SESSIONS-SEC-TB-PADDING);
}

.info_label_routine {
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--ROUTINE-TITLE-BG-COLOR);
  border-radius: var(--INFO-DIV-BORDER-RAD);
  margin-right: 0.25rem;
}

.sessions_routine_title__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: var(--SESSIONS-INFO-PADDING);
}

.sessions_routine_name__h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: var(--ROUTINE-TITLE-BG-COLOR);
  border-radius: var(--ROUTINE-DIV-BORDER-RAD);
  padding: var(--SESSIONS-INFO-PADDING);
}

.sessions_title__div {
  width: min-content;
  height: 100%;
}

.sessions_title__h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.sessions_title_underline {
  height: 2px;
  border-radius: 2px;
  background-color: var(--SESSION-TITLE-BG-COLOR);
}


.sessions__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--SESSIONS-SEC-GAP);
}
/* /SESSIONS */

/* SESSION */
.session__section {
  width: 100%;
  height: 100%;
  border-radius: var(--SESSION-SEC-BORDER-RAD);
  background-color: var(--SESSION-BG-COLOR);
  box-shadow: var(--SESSION-SEC-SHADOW);
}

.session__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.session_name__h1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: var(--SESSION-TITLE-FONT-COLOR);
  font-size: var(--H1-SIZE);
  background-color: var(--SESSION-TITLE-BG-COLOR);
  padding: var(--SESSION-INFO-DIV-PADDING);
  border-radius: var(--SESSION-SEC-BORDER-RAD) var(--SESSION-SEC-BORDER-RAD) 0 0;
}

.session_info__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--SESSION-DIV-GAP);
  padding: var(--SESSION-INFO-DIV-PADDING);
}
/* /SESSION */

/* EXERCISES */
.exercises__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--EXERCISES-SEC-GAP);
  padding: var(--EXERCISES-SEC-TB-PADDING);
  background-color: var(--BG-COLOR);
  border-radius: 0 0 var(--SESSION-SEC-BORDER-RAD) var(--SESSION-SEC-BORDER-RAD);
}

.exercises_title__div {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.exercises_title__h1 {
  font-size: 1.5rem;
}

.exercises_title_underline {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--EXERCISE-TITLE-BG-COLOR);
}
/* /EXERCISES */

/* EXERCISE */
.exercise__section {
  width: 100%;
  height: 100%;
  background-color: var(--EXERCISE-BG-COLOR);
  /* border-radius: var(--EXERCISE-SEC-BORDER-RAD); */
}

.exercise_title__h1,
.exercise_name__h1 {
  font-size: 1.5rem;
}
/* --EXERCISE-TITLE-BG-COLOR */
.exercise_info__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--EXERCISE-DIV-GAP);
  padding: var(--EXERCISE-INFO-DIV-PADDING);
}
/* /EXERCISE */

/* SETS */
.sets__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.set_items__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  /* gap: var(--SET-INFO-GAP); */
}

.sets_add__section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--SET-DIV-PADDING);
  background-color: var(--SET-BG-COLOR);
}

.sets_add__button {
  padding: var(--ADD-BTN-PADDING);
  background-color: var(--ADD-BUTTON-COLOR);
  color:var(--BG-COLOR);
  border-radius: var(--ADD-BTN-BORDER-RAD);
}
/* /SETS */

/* SET */
.set__form {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--SET-BG-COLOR);
  border-bottom: 2px solid var(--SET-DIVIDE-COLOR);
  padding: var(--SET-DIV-PADDING);
  gap: 1rem;
}

.set_header__div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.order_info {
  display: flex;
  justify-content: flex-start;
}

.set_complete__div {
  display: flex;
  justify-content: flex-end;
}

.set_info__div {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--SET-INFO-GAP);
}

.set_desc__div {
  display: flex;
  flex-flow: row wrap;
  gap: var(--SET-INFO-GAP);
  width: 100%;
}

.set_desc_itm__div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--SET-INFO-GAP);
  flex: 1 1 min-content;
}

.set_desc_order__label {
  border-bottom: 1px solid var(--SET-UNDERLINE-COLOR);
}

.set_desc_title__label {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  border-bottom: 1px solid var(--SET-UNDERLINE-COLOR);
}

.set_desc_value__span {
  width: 100%;
  background-color: var(--SET-VAL-BG-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.set_order_value__input {
  width: 50px;
  background-color: var(--EDIT-ENABLE-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: none;
  text-align: center;
  flex: 0 0 auto;
}

.set_desc_value__input {
  width: 100%;
  background-color: var(--EDIT-ENABLE-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: none;
  text-align: center;
}

.set_order_value__input:disabled,
.set_desc_value__input:disabled {
  background-color: var(--SET-VAL-BG-COLOR);
  border: none;
  color: black;
}

.edit__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: var(--SET-INFO-GAP);
}

.editing__div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.modifyOpts__div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: var(--SET-INFO-GAP);
}
/* /SET */

/* SET ADD FORM */
.add_set_bg__div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--MODAL-BG-COLOR);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_set__form {
  background-color: var(--MODAL-CONTAINER-COLOR);
  border-radius: var(--ADD-SET-FORM-BORDER-RAD);
  padding: var(--ADD-SET-MODAL-PADDING);
  box-shadow: var(--MODAL-SHADOW);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--ADD-SET-GAP);
}

.add_set_ex__div > h1,
.add_set__h1 {
  font-size: 1.5rem;
}

.add_set_input__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--SET-INFO-GAP);
  font-size: 1rem;
  font-weight: bold;
}

.add_set_ex__div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.add_set_x__div {
  display: flex;
  justify-content: flex-end;
}

.add_set_x__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--MODAL-BG-COLOR);
  border-radius: 50%;
  border: 1px solid var(--BG-COLOR);
  padding: 0.5rem;
}

.add_set__h1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add_set_order__label,
.add_set_weight__label,
.add_set_reps__label,
.add_set_rest__label {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--SET-UNDERLINE-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.add_set_order__input,
.add_set_weight__input,
.add_set_reps__input,
.add_set_rest__input {
  width: 100%;
  height: 100%;
  text-align: center;
}

.add_set__button {
  padding: var(--ADD-BTN-PADDING);
  background-color: var(--ADD-BUTTON-COLOR);
  color:var(--BG-COLOR);
  border-radius: var(--ADD-BTN-BORDER-RAD);
}
/* /SET ADD FORM */